<?xml version="1.0"?>


<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="r7bot">
  <!-- Import -->
  <xacro:include filename="$(find r7bot)/xacro/r7bot_description.xacro"/>
  <xacro:include filename="$(find r7bot)/xacro/r7bot_ros2_control.xacro" />

  <!-- Use macros -->
  <xacro:r7bot_description/>
  <xacro:r7bot_ros2_control/>

</robot>